[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
"flake8" = "*"
pylint = "*"
yapf = "*"
twine = "*"
wheel = "*"
"flake8-builtins" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"

[requires]
python_version = "3.6"
