[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
"flake8" = "*"
pylint = "*"
yapf = "*"
twine = "*"
wheel = "*"
"flake8-builtins" = "*"
"flake8-docstrings" = "*"
"flake8-import-order" = "*"
"flake8-bugbear" = "*"

[requires]
python_version = "3.7"

[scripts]
# We pass `--strict` here as mypy does not support specifying it in the
# `mypy.ini` configuration file.
mypy = "mypy --strict setup.py test/ xdg.py"
flake8 = "flake8 setup.py test/ xdg.py"
