[tool.black]
line-length = 79
target-version = ["py36"]

[tool.isort]
combine_as_imports = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 79
multi_line_output = 3

[tool.poetry]
name = "xdg"
version = "4.0.1"
description = "Variables defined by the XDG Base Directory Specification"
authors = ["Scott Stevenson <scott@stevenson.io>"]
license = "ISC"
readme = "README.md"
homepage = "https://github.com/srstevenson/xdg"
repository = "https://github.com/srstevenson/xdg"
keywords = ["xdg", "base", "directory", "specification"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: Unix",
    "Operating System :: Microsoft :: Windows",
]
include = ["LICENCE", "src/xdg/py.typed"]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
black = "=18.9b0"
flake8 = "^3.6"
flake8-bugbear = "^18.8"
flake8-docstrings = "^1.3"
flake8-comprehensions = "^1.4"
mypy = "^0.660.0"
nox = "^2018.10"
pylint = "^2.2"
pytest = "^4.1"
docargs = "^0.0.9"
flake8-per-file-ignores = "^0.7.0"
isort = "^4.3.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
